<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/images/sun.png">
</head>
<body>

    <div class="main-content">
    {{>header}}
    <img class="portrait" src= "images/BK.jpg">

    <p class="about-paragraph">I am the Blamah Kotay, also known as BK. I am a software engineer apprentice on a journey to become a software engineer. I have made a weather app where you can check any location in the world and find the the current temperature! Enjoy!</p>
    </div>

    {{>footer}}
</body>
</html>